<!DOCTYPE html>
<html>
	<head>
		<script src="https://cdn.tailwindcss.com"></script>
	</head>

	<body class="bg-blue-50">
		<div class="bg-white rounded-lg border-2 border-sky-600 m-4">
			<h1 class="text-center text-4xl p-8">Saving the world with the Squidward Crusaders</h1>
			<p class="text-center text-lg p-2">Find out whether congestion affects CO, O3, NO2, and SO2!</p>
		</div>
		<div class="grid grid-cols-4">
			<div class="bg-white rounded-lg border-2 border-emerald-300 m-2">
				<p class="text-lg p-2">Air pollutants pose a major risk to our health. They can penetrate our vital organs and cause diseases such as strokes, heart attacks, cancer, and more.</p>
			</div>
			<div class="bg-white rounded-lg border-2 border-cyan-300 m-2">
				<p class="text-lg p-2">According to the University of Chicago's Energy Policy Institute, air pollution shortens life expectancy by 2.2 years on average worldwide.</p>
			</div>
			<div class="bg-white rounded-lg border-2 border-blue-300 m-2">
				<p class="text-lg p-2">Air pollutants are tiny (their diameters are a few hundred picometers), which lets them get past the body's natural defenses.</p>
			</div>
			<div class="bg-white rounded-lg border-2 border-purple-300 m-2">
				<p class="text-lg p-2">Air pollutants trap heat in the atmosphere, contributing to global warming.</p>
			</div>
		</div>
		
		<div>
			<a href="http://167.71.30.220/login"><button class="bg-blue-500 text-white rounded">Log in</button></a>
			<a href="http://167.71.30.220/register"><button class="bg-blue-500 text-white rounded">Sign up</button></a>
		</div>

		<div class="flex items-center">
			<a href="http://167.71.30.220/map"><img src="https://gasdetection.com/app/uploads/2024/02/Sulfur-Dioxide.jpg.webp" alt="Sulfur dioxide" style="width:1000px"></a>
		</div>
	</body>
</html>
