<!DOCTYPE html>
<html>
	<head>
		<script src="https://cdn.tailwindcss.com"></script>

		<!--snippet from https://gist.github.com/mbostock/4060606-->
		<script src="https://d3js.org/d3.v4.min.js"></script>
		<script src="https://d3js.org/d3-scale-chromatic.v1.min.js"></script>
		<script src="https://d3js.org/topojson.v2.min.js"></script>
	</head>

	<body class="bg-blue-100">
         <svg width="960" height="600"></svg>	
		<script src="static/js/home.js"></script>
		<nav class="bg-slate-100 border-gray-200">
  			<div class="border-2 flex flex-wrap items-center justify-between p-4">
      				<ul class="font-medium flex flex-col p-4 md:p-0 mt-4 border border-gray-100 rounded-lg bg-gray-50 md:flex-row rtl:space-x-reverse md:mt-0 md:border-0 md:bg-white">
        				<li>
          					<a href="http://167.71.30.220/" class="block py-2 px-3 text-blue-500 bg-slate-100">Home</a>
        				</li>
        				<li>
          					<a href="http://167.71.30.220/login" class="block py-2 px-3 text-black bg-slate-100">Login</a>
        				</li>
        				<li>
          					<a href="http://167.71.30.220/map" class="block py-2 px-3 text-black bg-slate-100">Maps</a>
        				</li>
      				</ul>
    			</div>
  		</nav>


		<div class="bg-slate-100 rounded-lg border-2 border-sky-600 m-4">
			<h1 class="text-center text-4xl p-8">Saving the world with the Squidward Crusaders</h1>
			<p class="text-center text-lg p-2">Find out whether congestion affects CO, O3, NO2, and SO2!</p>
		</div>
		<div class="grid grid-cols-4">
			<div class="bg-slate-100 rounded-lg border-2 border-emerald-300 m-2">
				<p class="text-lg p-2">Air pollutants pose a major risk to our health. They can penetrate our vital organs and cause diseases such as strokes, heart attacks, cancer, and more.</p>
			</div>
			<div class="bg-slate-100 rounded-lg border-2 border-cyan-300 m-2">
				<p class="text-lg p-2">According to the University of Chicago's Energy Policy Institute, air pollution shortens life expectancy by 2.2 years on average worldwide.</p>
			</div>
			<div class="bg-slate-100 rounded-lg border-2 border-blue-300 m-2">
				<p class="text-lg p-2">Air pollutants are tiny (their diameters are a few hundred picometers), which lets them get past the body's natural defenses.</p>
			</div>
			<div class="bg-slate-100 rounded-lg border-2 border-purple-300 m-2">
				<p class="text-lg p-2">Air pollutants trap heat in the atmosphere, contributing to global warming.</p>
			</div>
		</div>
		
		<div class="flex justify-center">
			<a href="http://167.71.30.220/login"><button class="bg-blue-700 text-white p-2 m-2 rounded">Log in</button></a>
			<a href="http://167.71.30.220/register"><button class="bg-blue-700 text-white p-2 m-2 rounded">Sign up</button></a>
		</div>
<!--
		<div class="flex items-center">
			<a href="http://167.71.30.220/map"><img src="https://gasdetection.com/app/uploads/2024/02/Sulfur-Dioxide.jpg.webp" alt="Sulfur dioxide" style="width:1000px"></a>
		</div>
-->
	</body>
</html>
