<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<script src="https://cdn.tailwindcss.com"></script>
        <script src="https://d3js.org/d3.v4.min.js"></script>
        <script src="https://d3js.org/d3-scale-chromatic.v1.min.js"></script>
        <script src="https://d3js.org/topojson.v2.min.js"></script>
</head>
<body class="bg-blue-100">
		<nav class="bg-slate-100 border-gray-200">
  			<div class="border-2 flex flex-wrap items-center justify-between p-4">
      				<ul class="font-medium flex flex-col p-4 md:p-0 mt-4 border border-gray-100 rounded-lg bg-gray-50 md:flex-row rtl:space-x-reverse md:mt-0 md:border-0 md:bg-white">
        				<li>
          					<a href="/" class="block py-2 px-3 text-black bg-slate-100">Home</a>
        				</li>
        				<li>
          					<a href="/pollution/O3" class="block py-2 px-3 text-black bg-slate-100">O3 Map</a>
        				</li>
        				<li>
          					<a href="/pollution/CO" class="block py-2 px-3 text-black bg-slate-100">CO Map</a>
        				</li>
        				<li>
          					<a href="/pollution/SO2" class="block py-2 px-3 text-black bg-slate-100">SO2 Map</a>
        				</li>
        				<li>
          					<a href="/pollution/NO2" class="block py-2 px-3 text-black bg-slate-100">NO2 Map</a>
        				</li>
					<li>
						<a href="/congestion" class="block py-2 px-3 text-black bg-slate-100">Congestion</a>
					</li>
					<li>
						<a href="/compare" class="block py-2 px-3 text-black bg-slate-100">Compare</a>
					</li>
					{%if user%}
					<li>
						<a href="/logout" class="block py-2 px-3 text-black bg-slate-100">Log Out</a>
					</li>
					{%endif%}
      				</ul>
    			</div>
  		</nav>

	<div>
		<h3>Login</h3>
		<form action="/login" method="post">
			<label for="username">Username:</label>
			<input type="text" id="username" name="username">
			<br><br>
			<label for="password">Password:</label>
			<input type="password" id="password" name="password">
			<br><br>
			<button type="submit" class="b">Log In</button>
		</form>
		<br><br>
		<div>
			<p>Don't have an account? <a href="/register">Sign Up</a></p>
		</div>
	</div>

</body>
</html>
